In [1]:
###PANDAS

In [ ]:
##CREATE A TABLE BY datas

In [6]:
import pandas as pd

In [9]:
scientist = pd.DataFrame({'name':['Rose','william'],'occupation':['chenist','statis']})

In [10]:
print(scientist)

      name occupation
0     Rose    chenist
1  william     statis

In [11]:
###inorder to make index and see the output ## datas are given in wholein a () where column names and index are unique

In [41]:
scientist= pd.DataFrame(data={'occupation':['chemist','statistics','mathematician'],'born':['1991','1888','1887'],'age':['56''23','67']},
                        index=['rose','william','sangu'],columns=['occupation','born','age'])
print(scientist)

ValueError: could not broadcast input array from shape (2) into shape (3)

In [17]:
##based on name (datas in the table)it will give the resultant datas  LOC  is used

In [18]:
row_1 = scientist.loc['william']

In [19]:
print(row_1)

occupation    statistics
born                1888
age                   67
Name: william, dtype: object

In [ ]:
##the index is printed as the first “column"   ###the values are printed as the second “column

In [21]:
print(row_1.index)

Index(['occupation', 'born', 'age'], dtype='object')

In [22]:
print(row_1.values)

['statistics' '1888' '67']

In [23]:
###based on index value take a specific value

In [24]:
print(row_1.index[0])

occupation

In [25]:
 ###get the first index using a method

In [29]:
print(row_1.keys()[0])

occupation

In [30]:
###get age column alone

In [31]:
ages= scientist['age']

In [32]:
print(ages)

rose       56
william    67
Name: age, dtype: object

In [33]:
print(ages.mean)

<bound method Series.mean of rose       56
william    67
Name: age, dtype: object>

In [34]:
print(ages.min())  ###minimum

56

In [35]:
print(ages.max())

67

In [37]:
print(ages.std())

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [39]:
ages=scientist['age']
print(ages)

rose       56
william    67
Name: age, dtype: object

In [43]:
print(ages+ages)

rose       5656
william    6767
Name: age, dtype: object

In [44]:
print(age + age)

NameError: name 'age' is not defined

In [50]:
print (ages*2)

rose       5656
william    6767
Name: age, dtype: object

In [51]:
import pandas as pd

In [53]:
df1=pd.read_csv("newfile.csv") ### read any csv file
print(df1)

        one    january
0      hhjh   february
1   january      march
2  february      april
3     march        may
4     april       june
5       may       july
6      june     august
7      july  september

In [54]:
###read multiple csv file

In [57]:
df1=pd.read_csv("newfile.csv")
df2=pd.read_csv("newfilw1.csv")
print(df2)

        one    january  1
0      hhjh   february  1
1   january      march  1
2  february      april  1
3     march        may  1
4     april       june  1
5       may       july  1
6      june     august  1
7      july  september  1

In [58]:
###concating 2 csv file datas

In [59]:
concat= pd.concat([df1,df2])
print(concat)

        one    january    1
0      hhjh   february  NaN
1   january      march  NaN
2  february      april  NaN
3     march        may  NaN
4     april       june  NaN
5       may       july  NaN
6      june     august  NaN
7      july  september  NaN
0      hhjh   february  1.0
1   january      march  1.0
2  february      april  1.0
3     march        may  1.0
4     april       june  1.0
5       may       july  1.0
6      june     august  1.0
7      july  september  1.0